body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: norseBold;
  src: url(./Norse-Bold.otf);
}

.content {
  background-color: rgba(249, 250, 251, 255);
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ANYTHING RELATING TO HERO SECTION*/
.hero {
  font-weight: bold;
  font-size: 30px;
  padding-left: 50px;
}
/* ANYTHING RELATING TO FORM SECTION*/
.formSection {
  background-color: rgba(255, 255, 255, 255);
  padding: 0px 0px 25px 50px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  color: rgb(54, 54, 54);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.formFlex {
  display: flex;
}

.formFlexCol {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

label {
  font-size: 15px;
  color: rgb(81, 81, 81);
}

input {
  margin-bottom: 20px;
  width: 200px;
  height: 20px;
}

/* ANYTHING TO BUTTON SECTION*/
.btnSection {
  padding-left: 50px;
}

.btn {
  background-color: rgba(54, 58, 61, 255);
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 3px;
  border-style: none;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
