body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

@font-face {
  font-family: norseBold;
  src: url(./fonts/Norse-Bold.otf);
}

@font-face {
  font-family: robotoRegular;
  src: url("./fonts/Roboto-Regular.ttf");
}

/*Left side content*/
.leftDiv {
  width: 40%;
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
  background-color: rgba(0, 0, 0, 0.5);
}

.leftDiv img {
  height: 150px;
  margin: 0;
}

.leftDiv p {
  font-size: 90px;
  font-family: norseBold;
  color: white;
  margin: 55px 10px;
}

/*Right side content*/
.rightDiv {
  background-color: rgba(249, 250, 252, 255);
  width: 60%;
  font-family: robotoRegular;
  font-size: 30px;
}

.heroDiv {
  padding-left: 50px;
  margin-top: 132px;
  padding-bottom: 50px;
}

/*Form content*/

fieldset {
  border: none;
  padding: 0;
}

.formDiv {
  background-color: white;
  padding-left: 50px;
  box-shadow: 8px 10px 5px rgb(226, 225, 225);
}

.legend {
  margin-bottom: 5px;
  font-size: 30px;
}

.userForm {
  display: flex;
  margin-bottom: 40px;
}

.formCol {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.formCol input {
  width: 200px;
  font-size: 18px;
  margin-top: 4px;
  border: 1px solid;
  border-radius: 3px;
  padding: 4px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 2px solid rgba(81, 203, 238, 1);
}

input:invalid {
  box-shadow: 0 0 5px rgb(219, 59, 47);
  border: 2px solid rgb(219, 59, 47);
}

label {
  font-size: 18px;
  margin-top: 20px;
}

button {
  margin-left: 50px;
  background-color: rgb(61, 120, 171);
  border: none;
  color: white;
  padding: 15px 42px;
  font-size: 20px;
  border-radius: 6px;
  margin-top: 50px;
}

button:hover {
  cursor: pointer;
}

/*Bottom Content*/
.loginText {
  font-size: 18px;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 20px;
}

.loginText a {
  text-decoration: none;
  color: rgb(61, 120, 171);
}
